<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>controller.DashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultationServlet</servlet-name>
        <servlet-class>controller.ConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultationSuccessServlet</servlet-name>
        <servlet-class>controller.ConsultationSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailsServlet</servlet-name>
        <servlet-class>controller.CourseDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseListServlet</servlet-name>
        <servlet-class>controller.CourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherListServlet</servlet-name>
        <servlet-class>controller.TeacherListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherDetailsServlet</servlet-name>
        <servlet-class>controller.TeacherDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCourseController</servlet-name>
        <servlet-class>controller.ManagerCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSchedule</servlet-name>
        <servlet-class>controller.StudentSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentSchedule</servlet-name>
        <servlet-class>controller.ParentSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherSchedule</servlet-name>
        <servlet-class>controller.TeacherSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRequest</servlet-name>
        <servlet-class>controller.StudentRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherRequest</servlet-name>
        <servlet-class>controller.TeacherRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParentRequest</servlet-name>
        <servlet-class>controller.ParentRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceMarkServlet</servlet-name>
        <servlet-class>controller.AttendanceMarkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceReportServlet</servlet-name>
        <servlet-class>controller.AttendanceReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>controller.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerConsultationServlet</servlet-name>
        <servlet-class>controller.ManagerConsultationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerSectionServlet</servlet-name>
        <servlet-class>controller.ManagerSectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassBeingTaughtServlet</servlet-name>
        <servlet-class>controller.ClassBeingTaughtServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateScoreServlet</servlet-name>
        <servlet-class>controller.CreateScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewChildServlet</servlet-name>
        <servlet-class>controller.ViewChildServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewScoreServlet</servlet-name>
        <servlet-class>controller.ViewScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationAPIServlet</servlet-name>
        <servlet-class>controller.NotificationAPIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <servlet-class>controller.ManagerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAttendanceServlet</servlet-name>
        <servlet-class>controller.StudentAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SystemConfigServlet</servlet-name>
        <servlet-class>controller.SystemConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCourseBeingTaught</servlet-name>
        <servlet-class>controller.searchCourseBeingTaught</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <servlet-class>controller.UploadAvatarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorServlet</servlet-name>
        <servlet-class>controller.ErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>controller.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentApprovalServlet</servlet-name>
        <servlet-class>controller.PaymentApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegistrationDetails</servlet-name>
        <servlet-class>controller.CourseRegistrationDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCourseRegistration</servlet-name>
        <servlet-class>controller.ManagerCourseRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCourseServlet</servlet-name>
        <servlet-class>controller.RegisterCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleManagementServlet</servlet-name>
        <servlet-class>controller.ScheduleManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentAssignmentServlet</servlet-name>
        <servlet-class>controller.StudentAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAssignmentServlet</servlet-name>
        <servlet-class>controller.UploadAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountServlet</servlet-name>
        <servlet-class>controller.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaffAndManagerAccountServlet</servlet-name>
        <servlet-class>controller.CreateStaffAndManagerAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudentAccountServlet</servlet-name>
        <servlet-class>controller.CreateStudentAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagementServlet</servlet-name>
        <servlet-class>controller.AccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubmissionsServlet</servlet-name>
        <servlet-class>controller.ViewSubmissionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestReview</servlet-name>
        <servlet-class>controller.RequestReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountApproveServlet</servlet-name>
        <servlet-class>controller.AccountApproveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/trang-chu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/bang-dieu-khien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/dang-nhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/dang-xuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/doi-mat-khau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultationServlet</servlet-name>
        <url-pattern>/tu-van</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultationSuccessServlet</servlet-name>
        <url-pattern>/dang-ky-tu-van-thanh-cong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailsServlet</servlet-name>
        <url-pattern>/thong-tin-lop-hoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseListServlet</servlet-name>
        <url-pattern>/danh-sach-lop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherListServlet</servlet-name>
        <url-pattern>/danh-sach-giao-vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherDetailsServlet</servlet-name>
        <url-pattern>/thong-tin-giao-vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCourseController</servlet-name>
        <url-pattern>/quan-ly-khoa-hoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSchedule</servlet-name>
        <url-pattern>/thoi-gian-bieu-hoc-sinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentSchedule</servlet-name>
        <url-pattern>/thoi-gian-bieu-phu-huynh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherSchedule</servlet-name>
        <url-pattern>/thoi-gian-bieu-giao-vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRequest</servlet-name>
        <url-pattern>/yeu-cau-hoc-sinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherRequest</servlet-name>
        <url-pattern>/yeu-cau-giao-vien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParentRequest</servlet-name>
        <url-pattern>/yeu-cau-phu-huynh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceMarkServlet</servlet-name>
        <url-pattern>/chuyen-can</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceReportServlet</servlet-name>
        <url-pattern>/bao-cao-diem-danh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/gioi-thieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerConsultationServlet</servlet-name>
        <url-pattern>/quan-ly-tu-van</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerSectionServlet</servlet-name>
        <url-pattern>/quan-ly-lop-hoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassBeingTaughtServlet</servlet-name>
        <url-pattern>/classBeingTaught</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateScoreServlet</servlet-name>
        <url-pattern>/createScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewChildServlet</servlet-name>
        <url-pattern>/viewChild</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScoreServlet</servlet-name>
        <url-pattern>/viewScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationAPIServlet</servlet-name>
        <url-pattern>/notificationAPI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerDashboardServlet</servlet-name>
        <url-pattern>/quan-ly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAttendanceServlet</servlet-name>
        <url-pattern>/diem-chuyen-can</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SystemConfigServlet</servlet-name>
        <url-pattern>/admin-cau-hinh-he-thong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorServlet</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCourseBeingTaught</servlet-name>
        <url-pattern>/searchCourseBeingTaught</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAvatarServlet</servlet-name>
        <url-pattern>/upload-avatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/trang-thanh-toan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentApprovalServlet</servlet-name>
        <url-pattern>/trang-xac-nhan-thanh-toan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegistrationDetails</servlet-name>
        <url-pattern>/chi-tiet-yeu-cau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCourseRegistration</servlet-name>
        <url-pattern>/quan-ly-tham-gia-lop-hoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCourseServlet</servlet-name>
        <url-pattern>/dang-ky-lop-hoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleManagementServlet</servlet-name>
        <url-pattern>/quan-ly-lich-hoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentAssignmentServlet</servlet-name>
        <url-pattern>/studentAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAssignmentServlet</servlet-name>
        <url-pattern>/uploadAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountServlet</servlet-name>
        <url-pattern>/tao-tai-khoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaffAndManagerAccountServlet</servlet-name>
        <url-pattern>/tao-tai-khoan-nhan-su</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudentAccountServlet</servlet-name>
        <url-pattern>/tao-tai-khoan-hoc-sinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagementServlet</servlet-name>
        <url-pattern>/quan-ly-tai-khoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubmissionsServlet</servlet-name>
        <url-pattern>/viewSubmissionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/quen-mat-khau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestReview</servlet-name>
        <url-pattern>/xu-ly-yeu-cau</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountApproveServlet</servlet-name>
        <url-pattern>/duyet-tai-khoan</url-pattern>
    </servlet-mapping>
</web-app>
